@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #2f57a3;
	--color-accent: #2f57a3;
	--color-rose: #e02161;
	--color-primary-text: #333;
	--color-secondary-text: #666;

	--font-family-sans: 'Montserrat', sans-serif;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}
